.desc {
    background-color: #ffffff;
}

.desc h2 {
    margin-bottom: 25px;
}
.desc-list {
    padding: 40px 15px 95px 15px;
}
ul {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;


}
.desc ul li {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.desc ul img {
    width: 45px;
    height: 45px;
    margin-right: 6px;
}

.desc ul span {
    font-size: 15px;
    color: #243942;
    
}