.first-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #ebeff0;
}
.header {
	margin-bottom: 45px;
	text-align: center;
}
.nav-add {
	display: none;
}
h1 {
	margin: 0 auto 15px;
	max-width: 310px;
	text-align: center;
}
.promo {
	margin: 0 auto 35px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	text-align: center;
}
.logo img{
	height: 110px;
}
.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.button {
	margin: 10px auto 0;
}
.button_nav {
	margin: 0;
	width: 137px;
	height: 46px;
	line-height: 46px;
	border-radius: 22px;
}
.button_medium {
	width: 215px;
    height: 50px;
}
.nav_tel {
	text-decoration: none;
	font-size: 31px;
	line-height: 60px;
	color: #243942;
	font-family: "Roboto";
	font-weight: 700;
}
.photo_men {
	display: block;
	margin: 10px auto 0;
	height: 260px;
	width: 320px;
	background: url('../img/men.png') no-repeat 100%;
	background-size: cover;
}

/*_________________________________________________________________________________________*/
@media screen and (min-width: 750px) {
    .first-screen {
        background: url('../img/bg_first_screen.png') no-repeat 50% 5%;
    }
    .header {
		width: 100%;
        margin-bottom: 110px;
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
	}
	.nav {
		display: flex;
		align-items: center;
	}
	.nav-add {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.main{
        min-width: 720px;
        padding: 0 15px 150px 15px;
    }
    .photo_men {
        display: none;
    }
    .promo {
        text-align: left;
    }
    h1 {
		margin: 0 0 25px 0;
		max-width: 400px;
		text-align: left;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .button {
        margin: 0 0 10px 0;
    }
}

@media screen and (min-width: 1360px) {
	.header {
		margin-bottom: 60px;
	}
	.nav-add {
		flex-direction: row;
	}
	.nav_tel {
		margin-right: 25px;
	}
	h1 {
		max-width: 710px;
    }
	.buttons {
		flex-direction: row;
	}
	.button {
		margin-right: 20px;
	}
}