@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", Arial, sans-serif; 
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #eaeef0;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #eaeef0;
}
h1 {
	font-size: 32px;
	line-height: 37px;
	color: #243942;
	font-weight: 700;
	text-transform: uppercase;
}
h2 {
	font-size: 2125px;
	line-height: 41px;
}
.yellow {
	color: #ffb200;
}
.white {
	color: #ffffff;
}
.bg_yellow {
	background-color: #ffb200;
}
.bg_white {
	background-color: #ffffff;
}
.button {
	position: relative;
	width: 237px;
	height: 50px;
	border-radius: 24px;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 15px;
	line-height: 50px;
	color: #243942;
	font-family: "Roboto", Arial, sans-serif; 
	font-weight: 700;
}
.button span {
	position: absolute;
	top: 38%;
	right: 10px;
	background: url('../img/right.png') no-repeat transparent;
	width: 18px;
	height: 16px;
}

/*_________________________________________________________________________________________*/
@media screen and (min-width: 750px) {
	h1 {
		font-size: 45px;
		line-height: 51px;
	}
	.container {
		width: 100%;
		max-width: 720px;
		padding: 0 15px 0 15px;
		display: flex;
	}
}

@media screen and (min-width: 1361px) {
	h1 {
		font-size: 60px;
		line-height: 70px;
	}
	.container{
        min-width: 1330px;
    }
}