@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", Arial, sans-serif; 
	font-weight: 400;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #eaeef0;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #eaeef0;
}
h1 {
	font-size: 32px;
	line-height: 37px;
	color: #243942;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Roboto", Arial, sans-serif; 
}
h2 {
	font-size: 21px;
	margin: 0;
	line-height: 25px;
	text-transform: uppercase;
	color: #243942;
	font-weight: 700;
	font-family: "Roboto", Arial, sans-serif; 
}
h3 {
	font-size: 15px;
	line-height: 40px;
	font-family: "Roboto";
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
p {
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	font-family: "Roboto";
	font-weight: 400;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.yellow {
	color: #ffb200;
}
.white {
	color: #ffffff;
}
.bg_yellow {
	background-color: #ffb200;
}
.bg_yellow:hover {
	background-color: #ffd823;
}
.bg_white {
	background-color: #ffffff;
}
.bg_white:hover {
	color: #ffb200;
}
.button {
	position: relative;
	width: 237px;
	height: 50px;
	border-radius: 24px;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 15px;
	line-height: 50px;
	color: #243942;
	font-family: "Roboto", Arial, sans-serif; 
	font-weight: 700;
}
.button span {
	position: absolute;
	top: 38%;
	right: 10px;
	background: url('../img/right.png') no-repeat transparent;
	width: 18px;
	height: 16px;
}

.fs13lh18 {
	font-size: 13px;
	line-height: 18px;
}

/*_________________________________________________________________________________________*/
@media screen and (min-width: 750px) {
	h1 {
		font-size: 45px;
		line-height: 51px;
	}
	h2 {
		font-size: 31px;
		line-height: 41px;
	}
	p {
		font-size: 16px;
		line-height: 24px;
	}
	.container {
		width: 100%;
		max-width: 750px;
		display: flex;
	}
	h3 {
		font-size: 18px;
		line-height: 40px;
	}
}

@media screen and (min-width: 1160px) {
	h1 {
		font-size: 60px;
		line-height: 70px;
	}
	.container{
        min-width: 1100px;
    }
}