.triggers {
	padding: 15px 0 45px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #243942;
}
.trigger {
	margin-top: 25px;;
	max-width: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.trigger img {
	margin-right: 10px;
}

/*_________________________________________________________________________________________*/
@media screen and (min-width: 750px) {
    .triggers .container{
        max-width: 720px;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .trigger {
        margin-right: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    .triggers .container {
    }
}

@media screen and (min-width: 1360px) {
    .triggers .container{
        max-width: 1330px;
    }
    .trigger {
        margin-right: 10px;
    }
}