.footer {
    padding: 40px 0 80px;
    background-color: #1c2e36;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer ul li {
    margin-right: 10px;
    display: inline;
    width: 43px;
    height: 43px;
}
.footer ul li {
    margin-right: 10px;
    display: inline;
    width: 43px;
    height: 43px;
}
.footer ul li:hover {
    opacity: 0.5;
}
.footer p{
    font-size: 13px;
    line-height: 22px;
    color: #7c868b;
    margin-top: 20px;
}

/*_________________________________________________________________________________________*/
@media screen and (min-width: 750px) {
    .footer p{
        font-size: 14px;
    }
}