.popup-enter {
    visibility: hidden;
}
.popup-register {
    visibility: hidden;
}
.popup-register-success {
    visibility: hidden;
}
.popup-forget_password {
	visibility: hidden;
}
.popup-forget_password-success {
	visibility: hidden;
}
.popup-feedback {
	visibility: hidden;
}
.popup-choose-city {
	visibility: hidden;
}

.popup-open {
	/*position: fixed;
	width: 99vw;                    
	width: calc(100vw - 0px);*/
	overflow: hidden;
	overflow-y: scroll;
	touch-action: none;
}
.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 50;
	opacity: 0;
	transition: opacity 1s ease 0s;
	/*overflow-y: scroll;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay {
	background-color: #000000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.5;
	overflow: hidden;
}
.popup-container {
	position: relative;
	background: #ffffff;
	/*position: fixed;*/
	/*top: 5%;*/
	/*left: 50%;*/
   /*transform: translateX(-50%);*/
	padding: 20px 25px 10px;
	border-radius: 10px;
	color: black;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 300;
}
.popup-container p {
	max-width: 360px;
	font-size: 19px;
	line-height: 25px;
	color: #000000;
	font-family: "Roboto";
	font-weight: 400;
}

.popup-container .form_helper {
    text-decoration: underline;
    position: absolute;
    bottom: 35px;
    left: 20px;
    display: flex;
    flex-direction: column;
}
.popup-container .form_helper a {
	font-size: 14px;
	text-decoration: underline;
}
.popup-container .form_helper a:hover {
	text-decoration: none; 
	color: #243942;
}
.popup-container h6 {
	margin: 0;
	font-size: 22px;
	line-height: 41px;
	color: #243942;
	font-weight: 700;
    margin-left: 10px;
    text-transform: uppercase;
}
.popup-container form {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.popup-container input {
	width: 250px;
    height: 42px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 62px;
    color: #243942;
    font-family: "Roboto";
    font-weight: 700;
	padding: 0;
    margin: 0;
    padding-left: 30px;
	margin-top: 0;
	margin-bottom: 10px;
    border-radius: 30px;
    background-color: #ecf0f0;
    border: none;
    /*background-image: linear-gradient(180deg, #ecf0f0 0%, #ffffff 100%);*/
    box-sizing: border-box;
	outline: none;
}

.popup-container .input_question {
	height: 100px;
}

.popup-container input:hover, .popup-container input:active {
	border: 2px solid #ffba1c;
	padding-left: 28px;
}

.popup-container input:invalid:not(:placeholder-shown) {
	border: 1px solid #e61535;
}

.popup-container .button {
	margin: 10px 0 20px;
	text-decoration: none;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 110px;
	height: 42px;
	border-radius: 20px;
	/*background-color: #ffb200;*/
	font-size: 14px;
	line-height: 42px;
	color: #243942;
	font-weight: 700;
	outline: none;
	border: none;
	cursor: pointer;
	text-align: center;
    transition-duration: 0s;
}
.popup-container .button-register {
	width: 200px; 
}
.popup-container .button-feedback {
	width: 250px; 
}

.popup-container .button-send {
	width: 193px; 
}
.close {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2%;
	right: 2%;
	font-size: 40px;
	font-weight: 300;
	background: none;
	border: none;
	outline: none;
	width: 40px;
	height: 40px;
	color: #ffb200;
	z-index: 10;
}
.close:hover {
	cursor: pointer;
	color: #243942;
	border-radius: 0;
}
.popup_little_text {
	margin: 0 115px 15px 115px;
	padding: 0;
	max-width: 375px;
	font-size: 13px;
	line-height: 17px;
}

.popupSuccessCall .popup-container {
	padding: 75px 0;
}
.popupSuccessCall .popup_little_text {
	margin-top: 15px;
	text-align: center;
}

.popupSuccessCall .little_bigger {
	font-size: 17px;
	line-height: 23px;
}

.form_warning{
	padding-left: 15px;
	margin-bottom: 15px;
	font-size: 11px;
	line-height: 12px;
	color: rgb(231,22,54);	
}
.visible {
	z-index: 100;
	opacity: 1;
	visibility: visible;
}
.form_checkbox  {
	max-width: 300px;
	margin-top: 10px;
	display: flex;
	line-height: 32px;
	align-self: flex-start;
	align-items: center;
}
.form_checkbox input[type="checkbox"] {
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
	border-radius: 5px;
	border: none;
}
.form_checkbox input[type="checkbox"]:checked {
	background-color: #ffb200;
}
.form_checkbox label {
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	font-family: "Roboto";
	font-weight: 400;
}
.popup-forget_password-success p {
	margin-bottom: 30px;
}

.popup-choose-city .popup-container {
	max-width: 1200px;
	
}

.popup-choose-city ul {
	list-style: none;
}
.popup-choose-city .current_city p {
	font-size: 15px;
	color: #000000;
	font-family: "Roboto";
	font-weight: 400;
}
.popup-choose-city .icon_marker {
	background: url('../../img/mainpage/location.png') no-repeat 50%;
	vertical-align: middle;
}
.popup-choose-city .icon_marker_arrow {
	display: inline-block;
    margin-right: 10px;
    width: 16px;
	height: 18px;
	background: url('../../img/mainpage/marker_arrow.png') no-repeat 50%;
	vertical-align: middle;
}
.popup-choose-city .auto_choose p {
	font-size: 15px;
	color: #ffb200;
	font-family: "Roboto";
	font-weight: 400;
}
.popup-choose-city .auto_choose p a{
	text-decoration: none;
}
.popup-choose-city .auto_choose p a:visited{
	color: #ffb200;
}
.popup-choose-city ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 5px;
	color: #000000;
}
.popup-choose-city ul li a:visited {
	color: #000000;
}
.popup-choose-city ul li a:hover {
	color: #e8a300;
}

.cities {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.cities ul {
}
.cities_litera {
	display: inline-block;
	padding: 8px 0 0 0;
	color: #ffb200;
	margin-bottom: 10px;
	
}
.big_cities ul {
	width: 300px;
	display: flex;
	flex-direction: column;
}
.all_cities {
	display: flex;
}
.big_cities_column {
	max-width: 150px;
}

.all_cities ul {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
}
.all_cities ul ul {
	margin-top: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}

.all_cities ul ul li a{
	padding: 5px 0;

}

.popup-choose-city .bold {
	font-weight: 800;
}
.popup-choose-city h5 {
	margin: 0;
	display: flex;
	align-self: flex-start;
	font-size: 31px;
	color: #243942;
	font-family: "Roboto";
	font-weight: 700;
}
.popup-choose-city .current_city_block {
	display: flex;
	align-self: flex-end;
}
.popup-choose-city .popup-container input {
    width: 886px;
	height: 48px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #e3eaf1;
    padding-left: 15px;
    font-size: 15px;
    line-height: 60px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
    outline: none!important;
    margin-left: 15px;
}
.popup-choose-city .popup-container input:focus {
    border: 2px solid #e8a300;
}

	

/*_________________________________________________________________________________________*/
@media screen and (min-width: 750px) {
    .popup-container {
        padding: 50px 40px 40px;
    }
    .popup-container h6 {
        font-size: 20px;
	}
	/*
	.popup-open {
		width: 99vw; 
	}
	*/
    .popup-container input {
        width: 405px;
        height: 62px;
        font-size: 19px;
    }
    .popup-container .button {
        width: 147px;
        height: 50px;
        border-radius: 30px;
        font-size: 19px;
        line-height: 50px;
	}
	.popup-container .button-register {
		width:  270px;
	}
	.popup-container .button-feedback {
		width: 250px; 
	}
	.popup-container .button-send {
		width: 193px; 
	}
    .popup-container .form_helper {
        bottom: 60px;
        left: 50px;
    }
    .popup-container .form_helper a {
        margin-bottom: 10px;
	}
	.popup-container .input_question {
		height: 100px;
	}
	.form_checkbox label {
		font-size: 19px;
		color: #000000;
		font-family: "Roboto";
		font-weight: 400;
		
	}

}
