#terms-tab {
    display: block;
}
#guarantee-tab {
    display: none;
}
#description-tab {
    display: none;
}
#about_partner-tab  {
    display: none;
}


.breadcrumbs_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.breadcrumbs {
    padding: 0 15px;
}
.breadcrumbs p {
    font-size: 13px;
    line-height: 60px;
    color: #7c868b;
    font-family: "Roboto";
    font-weight: 400;
    margin: 0;
}
.breadcrumbs a {
    text-decoration: none;
    color: #7c868b;
}
.breadcrumbs a:visited {
    color: #7c868b;
}

.kupon {
    padding: 0 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.kupon_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.kupon_block-inner {
    padding-bottom: 60px;
    border-bottom: 1px solid #c9d4db;
}
.kupon h2 {
    min-width: 260px;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 23px;
    color: #243942;
    font-family: "Roboto";
    font-weight: 700;
}
.kupon_photo_slider {
    width: 320px;
}
.kupon_photo_slider {
    width: 320px;
}
.kupon_slider div{
    width: 320px;
}
.kupon_slider img {
    width: 320px;
    border-radius: 5px;
}




.kupon_add_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kupon .address {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 22px;
    color: #7c868b;
    font-family: "Roboto";
    font-weight: 400;
}

.kupon .round {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    border-radius: 6px;
    background-color: #2899f8;
}

.kupon .kupon_desc {
    font-size: 17px;
    line-height: 21px;
    color: #243942;
    font-family: "Roboto";
    font-weight: 500;
}

.kupon .economy, .kupon .purchased, .kupon .social p {
    font-size: 13px;
    line-height: 22px;
    color: #7c868b;
    font-family: "Roboto";
    font-weight: 400;
}
.button_zone {
    
    display: flex;
    align-items: center;
}
.button_zone .heart {
    display: block;
    margin-left: 20px;
    width: 30px;
    height: 40px;
    background: url('../../img/mainpage/heart.png') no-repeat 50%;
    background-size: contain;
    cursor: pointer;
}
.button_zone .heart:hover {
    background: url('../../img/mainpage/heart_full.png') no-repeat 50%;
}
.kupon .get_kupon {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    width: 230px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffb200;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-transform: uppercase;
}

.kupon .get_kupon:hover {
    background-color: #e8a300;
}

.kupon .time {
    display: flex;
    align-items: center;
    border-top: 1px solid #c9d4db;
    border-bottom: 1px solid #c9d4db;
    font-size: 17px;
    line-height: 45px;
    color: #7c868b;
    font-family: "Roboto";
    font-weight: 400;
}
.kupon .time::before {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    background-image: url('../../img/kupon_photos/kupon_watch.png');
    content: '';
}

.kupon .social-refs {
    display: flex;
}

.kupon .social-refs a img {
    width: 36px;
    height: 36px;
    padding: 5px;
}
.tabs_content p{
    font-size: 13px;
    line-height: 19px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
}
.tabs_content .button{
    padding-left: 30px;
    margin: 10px;
    width: 126px;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    background-color: #ffb200;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    background: url('../../img/kupon_photos/icon_med-bau.png') no-repeat 15%;
    background-color: #ffb200;
}
.tabs_content .button:hover{
    background-color: #e8a300;
}



.kupon_info .points{
    padding: 0 15px;
    min-width: 294px;
    font-size: 13px;
    line-height: 19px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
}

.kupon_info .ul-menu {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    line-height: 40px;
    color: #243942;
    font-family: "Roboto";
    font-weight: 500;
    background-color: #f3f6f8;
    border: 1px solid #e3eaf1;
    text-transform: uppercase;
}

.kupon_info .ul-menu a {
    text-decoration: none;
    padding: 10px;
}
.kupon_info .kupon-menu .ul-menu li:first-child a {
    border-bottom: 4px solid #243942;
}
.kupon_info .ul-menu a:visited {
    color: #243942;
}

.kupon_info .kupon-map .ul-menu {
    justify-content: flex-start;
    padding-left: 15px;
    margin-bottom: 20px;
}
.map {
}

.kupon-map .map iframe {
    width: 100vw;
}

.kupon-map .contacts p{
    display: flex;
    align-items: center;
    margin: 5px 0 ;
    padding: 0 15px;
}

.cards-block-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-block-inner h2{
    margin-bottom: 40px;
    padding-left: 15px;
    display: flex;
    align-self: flex-start;
}
.cards-carousel .discount,
.cards-carousel .whenwhere {
    display: none;
}

.round {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 6px;
    background-color: #2899f8;
}

.map_target {
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../../img/kupon_photos/map_target.png');
}

.map_watch {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url('../../img/kupon_photos/watch_yellow.png');
}

.map_phone {
    display: inline-block;
    width: 13px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../../img/kupon_photos/phone.png');
}

.kupon_slider_nav {
    display: none;
}





@media screen and (min-width: 750px) {
    .breadcrumbs_block {
        align-items: center;
    }
    .kupon h2 {
        max-width: 750px;
    }
    .kupon_photo_slider {
        width: 720px;
    }
    .kupon_block-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .kupon_info {
        display: flex;
        flex-direction: column;
        align-items: center; 
     }
    .map_zone {
        display: flex;
    }
    .kupon-map .map iframe {
        width: 40vw;
    }
    .map_zone .contacts {
        margin-left: 15px;
    }
    .kupon_add {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 30px;
    }
    .kupon_slider div{
        width: 720px;
        height: 400px;
    }
    .kupon_slider img {
        width: 720px;
        border-radius: 5px;
    }
    .slick-arrow {
        margin: 10px;
        width: 44px;
        height: 44px;
        border-radius: 22px;
        background-color: #ffffff;
        border: none;
        outline: none;
        display: flex;
        cursor: pointer;
    }
    .slick-prev {
        position: absolute;
        z-index: 999;
        left:0%;
        top: 50%;
        background-image: url('../../img/kupon_photos/left.png');
        background-repeat: no-repeat;
        background-position: 40% 50%;
    }
    .slick-next {
        position: absolute;
        right:0;
        top: 50%;
        background-image: url('../../img/kupon_photos/right.png');
        background-repeat: no-repeat;
        background-position: 60% 50%;
    }
    .kupon_slider_nav {
        margin-top: 30px;
    }
    .kupon_slider_nav div{
        cursor: pointer;
    }
    .kupon_slider_nav img {
        max-width: 170px;
        border-radius: 5px;
    }




}

@media screen and (min-width: 1160px) {
    .kupon_info {
        display: flex;
        flex-direction: row; 
        align-items: flex-start;
     }
     .kupon-menu {
         max-width: 650px;
     }
     .kupon-map {
         margin-left: 30px;
     }
     .map_zone {
        flex-direction: column;
    }
    .kupon_photo_slider {
        width: 650px;
    }
    .kupon_slider div{
        width: 650px;
    }
    .kupon_slider img {
        width: 650px;
        border-radius: 5px;
    }
    .slick-next, .slick-prev {
        top: 45%;
    }
    .kupon_add_block {
        min-width: 1100px;
        flex-direction: row;
        justify-content: space-between;
    }
    .kupon_add {
        margin-left: 30px;
        display: flex;
    }
    .kupon-map .map iframe {
        width: 30vw;
    }
    .map_zone .contacts {
        margin-left: 0;
    }
    .kupon-map .contacts p {
        padding-left: 0;
    }
}