.main-container {
    background-color: #fff;
}
.header {
    margin-bottom: 0;
}
.landing_menu {
    width: 100%;
    background-color: #243942;
}
.header .logo img {
    height: 30px;
}
.header .first-750, .header .second-750 {
    display: none;
}
.header .first-1920, .header .second-1920 {
    display: none;
}
.header .first-320 {
    /*padding: 0 15px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c2e36;
    border-bottom: 1px solid #43565f;
}
.header .landing_first-320 {
    /*padding: 0 15px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .second-320 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243942;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    color: #c9d4db;
    font-family: "Roboto";
    font-weight: 400;
    padding: 10px;
}

.header a:hover {
    color: #ffb100;
}
.header a img {
    padding-right: 10px;
}
.header .location {
    text-decoration: underline;
}
.filters {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters .button {
    padding: 0;
    margin-top: 15px;
    height: 36px;
    border-radius: 5px;
    background-color: none;
    font-size: 14px;
    line-height: 36px;
    color: none;
    font-family: "Roboto";
    font-weight: 400;
}
.button_sort {
    width: 138px;
    margin-right: 8px;
    color: #7c868b;
    background-color: #f3f6f8;
}
.button_district {
    width: 148px;
    color: #7c868b;
    background-color: #f3f6f8;
}
.icon_bottom {
    display: inline-block;
    margin-left: 10px;
    width: 13px;
    height: 8px;
    background: url('../../img/mainpage/bottom.png') no-repeat 50% ;
}
.icon_top {
    display: inline-block;
    margin-left: 10px;
    width: 13px;
    height: 8px;
    background: url('../../img/mainpage/top.png') no-repeat 50% ;
}
.button_map{
    width: 100%;
    color: #ffffff;
    background-color: #ffb200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_map:hover {
    background-color: #e8a300;
}
.icon_marker{
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 16px;
    line-height: 36px;
    background: url('../../img/mainpage/marker_white.png') no-repeat 50% ;
}


.filters-sort {
    display: flex;
    justify-content: space-between;
    
}
.button_sort {
    width: 148px;
}


.sorting-ul {
    display: none;
}
.district-ul {
    display: none;
}


.filters ul {
    list-style: none;
    flex-direction: column;
    margin-top: 0;
    position: absolute;
    z-index: 1;
}
.filters ul li {
    background-color: #f2f6f9;
    width: 148px;
}
.filters .district-ul li {
    width: 250px;
}
.filters ul li a {
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #7c868b;
    font-family: "Roboto";
    font-weight: 400;
    border-radius: 5px;
}
.filters .district-ul li a {
    margin-right: 0;
}

.filters ul li a:hover {
    background-color: #ffb200;
}
.filters ul li a:active {
    font-weight: bold;
    color: #000000;
    background-color: #f2f6f9;
}

.district-ul input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin: 8px auto;
    width: 130px;
    height: 30px;
    outline: none;
    border: 1px solid #e3eaf2;
    border-radius: 5px;
}


.cards-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-block {
    display: none;
    position: relative;
}
.map-block .container {
    max-width: 100%;
}
.map-block .button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 5%;
    padding: 0 15px;
    background-color: #ffb200;
    color: #fff;
    border-radius: 5px;
    width: 90px;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    z-index: 2;
}
.map-block .icon_burger {
    display: inline-block;
    border-bottom: 9px double #fff; 
    border-top: 3px solid #fff; 
    content:"";
    height: 3px; 
    width: 20px;
    margin-right: 10px;
}
.map-block .card {
    position: absolute;
    top: 20%;
    left: 5%;
    max-width: 350px;
    background-color: #fff;
}
.map-block .card .additional {
    display: none;
}
.cards {
    margin: 0 auto;
    display: block;
}
.card {
    margin-bottom: 25px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card .photo {
    position: relative;
    cursor: pointer;
}
.card .photo img {
    width: 289px;
    height: 161px;
    border-radius: 5px;
}
.card .card-description {
    display: none;
    box-sizing: border-box;
    height: 98%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.6);
}
.card .card-description p {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
}
.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    width: 69px;
    height: 46px;
    position: absolute;
    bottom: 4px;
    left: 4%;
    background-color: #ffb200;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.whenwhere {
    display: none;
}
.card .text {
    align-self: flex-start;
    width: 289px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
}
.card .text p{
    margin: 10px;
}
.card .additional {
    margin-top: 35px;
    padding: 0 15px;
   /* width: 288px;*/
    height: 40px;
    background-color: #f3f6f8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.card .additional .more a {
    font-size: 16px;
    line-height: 40px;
    color: #ffb200;
    font-family: "Roboto";
    font-weight: 400;
    text-decoration: underline;
}
.card .additional .more a:visited {
    color: #ffb200;
}


.card .additional .purchased {
    font-size: 14px;
    line-height: 40px;
    color: #7c868b;
    font-family: "Roboto";
    font-weight: 400;
}
.card .additional .favourite {
    position: relative;
    display: flex;
    align-items: center;
    width: 24px;
    height: 21px;
    background: url('../../img/mainpage/heart.png') no-repeat 50%;

}
.card .additional .favourite:before {
    content:'';
    position: absolute;
    right: 40px;
    top: -5px;
    height: 30px;
    border-left: 1px solid #c9d4db;
}
.card .additional .favourite:hover {
    background: url('../../img/mainpage/heart_full.png') no-repeat 50%;
}
.review-block {
    padding: 20px 0;
    margin-bottom: 40px;
    background-color: #f3f6f8; 
}
.slider-brands {
    min-width: 300px;
}
.reviews {
    padding: 0 15px;
}
.reviews h2 {
    margin-bottom: 20px;
}

.brand {
    display: flex!important;
    width: 240px!important;
    height: 200px!important;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
    border-radius: 5px;
    background-color: #ffffff;
}
.brand img {
    width: 105px;
    height: 105px;
}

/*____________________________________MENU_____________________________________*/
.dropdown-inside {
    position: absolute;
    overflow: hidden;
    z-index:1000;
    margin-left: 0px;
    margin-top: 0px;
    display: none;
  }

  
.dropdown-inside li {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /*padding: 0 15px;*/
    position: relative;
    width: 100vw;
    font-size: 15px;
    line-height:45px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    border-bottom: 1px solid #243942;
    background: url('../../img/mainpage/bottom.png') no-repeat 96% 30px;
    background-color: #1c2e36;
}
.dropdown-inside li a{
}
.dropdown-inside .dropdown-inside2 {
      display: block;  
      margin-top: 0;
      display: none;
      
}

.dropdown-inside .dropdown-inside2 li {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    border-bottom: none;
    padding-left: 15px;
    background: none;
    background-color: #243942;
}

span.quantity {
    margin-left: 15px;
    font-size: 13px;
    color: #7c868b;
}
.button_bottom {
}
.menu1920 {
    display: none;
}

.navigation .menu1920_dropdown-block{
    display: none;
}


/*_______________________________Searchbar____________________________________*/
.search-block {
    background-color: #1c2e36;
    position: relative;
    display: none;
}
.search-block .container {
    margin: 0 auto;
    
}
.searchbar {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchbar input {
    width: 100%;
    height: 40px; 
    padding-left: 15px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 60px;
    color: #c9d4db;
    font-family: "Roboto";
    font-weight: 400;
    border: none;
    outline: none!important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
    margin: 10px;
    
}
.searchbar input:focus {
    border: 2px solid #e8a300;
}

.search_icon {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background-color: #ffb200;
    background-image: url('../../img/mainpage/loupe.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
    position: absolute;
    right: 15px;
    top: 13px;
}
.search_icon:hover {
    background-color: #e8a300;
}
.search_logo {
    display: none;
}

/*______________________________________CITIES____________________________*/
.cities_mobile_block {
    display: block;
    margin: 0;

}
.cities_mobile_block ul {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
}
.cities_mobile li:first-child a{
    color: #feb200;
    padding: 10px 15px;
    border-bottom: 30px solid #f2f6f9;
}
.cities_mobile li a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
    background-color: #fff;
    border-bottom: 1px solid #d2d6d7;
    font-family: "Roboto";
    font-weight: 400;
    padding: 15px;
}
.cities_mobile li a:hover{
    color: #e8a300;
}

/*______________________________________________________________________________*/
@media screen and (min-width: 750px) {
    .menu .container {
        max-width: none;
    }
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #243942;
        padding: 0 15px;
        margin: 0;
    }
    .header .first-320, .header .second-320 {
        display: none;
    }
    .header .landing_first-320 {
        display: none;
    }
    
    
    .header .first-750, .header .second-750 {
        display: flex;
    }
    .header a {
        font-size: 15px;
    }
    .header .second-750 a {
        border-left: 1px solid #43565f;
    }
    .filters {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .filters .container {
        justify-content: space-between;
        padding: 0 15px;
        box-sizing: border-box;
    }
   
    .cards {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .card {
        min-height: 375px;
        margin-bottom: 25px;
    }
    .cards-block_kuponpage .card {
        margin-right: 10px;
    }
    .card .photo img {
        width: 345px;
        height: 192px;
        border-radius: 5px;
    }
    .card .text {
        width: 345px;
    }
    .whenwhere {
        width: 240px;
        height: 46px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 4%;
        bottom: 4px;
        font-size: 14px;
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 400;
    }
    .whenwhere::before {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background-image: url('../../img/mainpage/watch.png');
        content: '';
    }
    .whenwhere .round {
        display: block;
        width: 12px;
        height: 12px;
        margin: 0 5px 0 10px;
        border-radius: 6px;
        background-color: #2899f8;
    }
    .review-block{
        display: flex;
        justify-content: center;
    }
    .slider-brands {
        max-width: 750px;
    }
    .button_map {
        width: 250px;
    }
    /*____________________________________MENU_____________________________________*/
    .dropdown-inside {
    top: 35px;
    left: 15px;
    }
    .dropdown-inside {
        margin-left: -15px;
        margin-top: 15px;
      }
    
    .dropdown-inside li {
    }
    .header .second-750 .dropdown-inside li a {
        border-left: none;
    }

    

    
   
   
    
}

@media screen and (min-width: 1160px) {
    .header .first-750, .header .second-750 {
        display: none;
    }
    .header .first-1920, .header .second-1920 {
        display: flex;
    }
    .cities_mobile_block {
        display: none;
    }
    .cards {
        padding: 0;
    }
    .card:last-child {
        margin-right: 0px;
        min-height: 400px;
    }
    .card .photo img {
        width: 359px;
        height: 200px;  
        border-radius: 5px;
    }
    .card .text {
        width: 359px;
    }
    .slider-brands {
        max-width: 1200px;
    }
    .header {
        padding-left: 0;
    }
    .header .location {
        padding-left: 0;
    }
    .header a {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0px;
    }
    .header .second-750 a {
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #243942;
    }
    .navigation, .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation {
        background-color: #f3f6f8;
        border-top: 1px solid #e3eaf1;
        border-bottom: 1px solid #e3eaf1;
    }
    .menu .container, .navigation .container, .filters .container {
        width: 100%;
        max-width: 1100px;
    }
    .filter .container {
        max-width: 1200px;
    }
    .filters .container {
        justify-content: space-between;
    }
    .button_district {
        width: 250px;
    }
    .district-ul input {
        width: 215px;
    }
    .menu1920 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        font-size: 15px;
        margin-top: 0;
    }
    .menu1920 li a {
        padding: 15px 10px;
        text-decoration: none;
        line-height: 60px;
        color: #243942;
        font-family: "Roboto";
        font-weight: 400;
        text-transform: uppercase;
    }
    .menu1920 li a:active {
        border-bottom: 4px solid #243942;
    }
    .menu1920 li a:hover {
        color: #ffb300;
    }

    .search-block {
        display: block;
        background-color: #fdfdfe;
    }
    .searchbar {
        padding: 10px 0;
    }
    .searchbar input {
        border: 1px solid #e3eaf1;
        margin: 0;
    }
    .search_logo {
        display: block;
        width: 47px;
        height: 49px;
        margin-right: 10px;
    }
    .search_icon {
        top: 17px;
        right: 5px;
    }
    .map-block {
        max-width: 1200px;
        margin: 40px auto 0px;
    }
    /*_____________________________Dropdown menu1920_____________________________*/
    .navigation .container {
        margin: 0 auto;
        padding: 0 15px;
    }
    .navigation .menu1920_dropdown-block{
        display: flex;
        justify-content: center;
        
        width: 100%;
        height: 400px;
        background-color: #fff;
        border-top: 2px solid #8cc000;
        box-shadow: 0px 1px 20px 5px #c1c7c9;
    }
    .navigation .menu1920_dropdown-block{
        display: none;
    }
    .navigation .menu1920_dropdown-block .dropdown_block-column ul {
        display: block;
        list-style: none;
        margin-top: 0;
        margin-right: 50px;
    }
    .navigation .menu1920_dropdown-block .dropdown_block-column ul li a {
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        font-family: "Roboto";
        font-weight: 400;
        text-transform: none;
        text-decoration: none;
        padding: 5px;
        margin-left: 20px;
        
    }
    .navigation .menu1920_dropdown-block .dropdown_block-column ul li a:hover {
        color: #e8a300;
    }
    .navigation .menu1920_dropdown-block .dropdown_block-column ul .menu1920_category a {
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 0;
        margin-top: 20px;
    }
    .navigation .icon-block .food_list_icon {
        display: inline-block;
        width: 48px;
        height: 48px;
        margin-right: 50px;
        margin-top: 20px;
        font-size: 12px;
        color: #7c868b;
        background: url('../../img/mainpage/food_list_icon.png') no-repeat 50%;
    }
    
    
}